<div class="contentDiv" dashboard-context-div>
	<div class="vertical">
		<div class="levelTitle">
			<div class="horisontal">
				<h2>%COMMENT_USER%</h2>
				<h3 dashboard-show="%COMMENT_SHOW_PERCENT%">%percent%%</h3>
			</div>
			
			<div class="commentStat">
				<form name="comment%commentID%">
					<input type="hidden" name="commentID" value="%commentID%"></input>
				</form>
				
				<text title="%TEXT_likes%" dashboard-show="%COMMENT_PERSON_LIKED%">
					<i class="fa-solid fa-thumbs-up"></i> %likes%
				</text>
				<text title="%TEXT_likes%" dashboard-hide="%COMMENT_PERSON_LIKED%">
					<i class="fa-regular fa-thumbs-up"></i> %likes%
				</text>
				
				<text title="%TEXT_dislikes%" dashboard-show="%COMMENT_PERSON_DISLIKED%">
					<i class="fa-solid fa-thumbs-down"></i> %dislikes%
				</text>
				<text title="%TEXT_dislikes%" dashboard-hide="%COMMENT_PERSON_DISLIKED%">
					<i class="fa-regular fa-thumbs-down"></i> %dislikes%
				</text>
			</div>
		</div>
		
		<h3 class="levelDescription">
			<span class="emptySymbol">:(</span>
			%COMMENT_CONTENT%
		</h3>
		
		<div class="stats small">
			<div class="commentStat" title="ID">
				<i class="fa-solid fa-comment"></i>
				<text dashboard-copy>%commentID%</text>
			</div>
			
			<div class="horisontal">
				<div class="commentStat" dashboard-show="%COMMENT_SHOW_LEVEL%">
					%COMMENT_LEVEL_TEXT%
				</div>
				
				<div class="commentStat" dashboard-show="%COMMENT_IS_CREATOR%">
					<i class="fa-solid fa-user"></i>
					<text>%COMMENT_CREATOR_TEXT%</text>
				</div>
				
				<div class="commentStat" dashboard-show="%COMMENT_SHOW_RATING%" title="%COMMENT_RATING_TITLE%">
					<i class="fa-solid fa-thumbs-up" dashboard-show="%COMMENT_RATING_IS_LIKE%"></i>
					<i class="fa-solid fa-thumbs-down" dashboard-hide="%COMMENT_RATING_IS_LIKE%"></i>
					<text>%COMMENT_RATING_TEXT%</text>
				</div>

				<div class="commentStat" title="%TEXT_uploadDate%">
					<i class="fa-solid fa-calendar"></i>
					<text dashboard-date="%timestamp%"></text>
				</div>
			</div>
		</div>
	</div>
	
	%COMMENT_CONTEXT_MENU%
</div>