<div class="box">
	<form name="changeUsernameForm" autocomplete="gdps-dashboard">
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-user"></i>
				%TEXT_changeUsernameOld%
			</h2>
			<input class="inputStyle" type="text" name="userName" autocomplete="gdps-dashboard-username" placeholder="YourVeryPrettyUsername" />
		</div>
		
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-user-plus"></i>
				%TEXT_changeUsernameNew%
			</h2>
			<input class="inputStyle" type="text" name="targetUserName" autocomplete="off" placeholder="YourNewVeryPrettyUsername" maxlength="16" />
		</div>
		
		<div class="inputDiv">
			<h2>
				<i class="fa-solid fa-key"></i>
				%TEXT_password%
			</h2>
			<input class="inputStyle" type="password" name="password" autocomplete="gdps-dashboard-password" placeholder="•••••••••••••" />
		</div>
		
		<button class="button" type="button" onclick="%CHANGE_USERNAME_BUTTON_ONCLICK%">%TEXT_changeUsernameTitle%</button>
	</form>
</div>